* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}
.nav-img {
    height: 91px;
    width: 170px;
    cursor: pointer;
}
.ul-list {
    list-style: none; 
}
.ul-list li {
    display: inline;
    margin-left: 30px;

}
.ul-list li a {
    text-decoration: none;
    color: #272727;
    font-size: 25px;
}
.nav-add {
    width: 90px;
    height: 50px;
    cursor: pointer;
}
.nav-avtar {
    width: 64px;
    height: 50px;
    float: right;  
    cursor: pointer;
}
.nav-pic img{
   margin-right: 20px;
}
.menu-icon {
    display: none;
    font-size: 20px;
    cursor: pointer;
    padding-right: 10px;
}
.nav-img:hover {
    box-shadow:  10px 10px 20px rgb(222, 222, 221);
}
.ul-list li a:hover {
    color: blue;
}
@media screen and (max-width:768px) {
    .nav-img  {
        height: 71px;
        width: 130px;
    }
    .ul-list li a {
        font-size: 1rem;
    }
    .nav-add {
        width: 50px;
        height: 30px;
        margin-top: 8px;
    }
    .nav-avtar {
        width: 40px;
        height: 30px;  
        margin-top: 8px;
    } 
}
@media screen and (max-width : 430px) {
    .nav-add {
        display: none;
    }
    .nav-avtar {
        display: none;
    }
    .ul-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        top:12%;
        position: absolute;
        text-align: center; 
        background: #fff;
        gap: 20px;
     }
     .ul-list li {
        margin-left:0;
     }
    .collapsible__content {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: all 0.3s;
    }
    
    .collapsible--expanded .collapsible__content {
        max-height: 100vh;
        opacity: 1;
    }
    .menu-icon {
        display: block;
        color: #110101;
        line-height: 70px;
     }
     .navbar {
        justify-content: space-between;
        padding: 0;
     }
     .nav-img  {
        height: 50px;
        width: 110px;
        
    }
}

/* end of nav section */
header {
    width: 100%;
    height: 100%;
}
 .element .element-one .element-two .element-three {
    width: 100%;
    height: 100%;
 }
.header-container {
    background: url(../images/banner.png);
    height: 120%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }
.element-one{
    background-position: center;
    width: 100%;
    position: relative;
}
.element-two {
    width: 100%;
    position: absolute;
    right: 1%;
   
}
.element-three {
    position: absolute;
    right: 16%;
}

@media screen and (max-width:1024px) {
    .element-three {
        left: 16%;
        width: 766px;
        top: 29%;
        height: 363px;
    }
    .element-four {
        top: 1%;
    }
} 
@media screen and (max-width:768px) {
    header {
        height: 65%;
    }
    .header-container {
        background: url(../images/banner\ \(3\).png);
        background-repeat: no-repeat;
    }
    .element-three {
        position: absolute;
        width: 592px;
        height: 317px;
        left: 11%;
        top: 17%;
    } 
}
@media screen and (max-width :430px) {
    header {
        height: 45%;
    }
    .header-container {
        background: url(../images/banner\ \(1\)\ \(4\)\ \(1\).png);
        background-repeat: no-repeat;    
    }
    .element-one {
        display: none;
    }
    .element-two {
        display: none;
    }
    .element-three {
        display: none;
    } 
}
@media screen and (max-width : 320px) {
    header {
        height: 35%;
    }
    .header-container {
        background: url(../images/banner\ \(1\)\ \(4\)\ \(2\).png);
        background-repeat: no-repeat;    
    }
}
.element-four {
    position: absolute;
    right: 38%;
    top: 63%;
    padding: 14px 70px;
    border-radius: 15px;
    background: none;
    border: 2px solid #fff;
}
.element-four::placeholder {
    color: #fff;
    font-size: 1rem;
    text-align: center;
}
@media screen and (max-width:1024px) {
    .element-four {
        top: 55%;
        right: 30%;
    }
}
@media screen and (max-width:768px) {
    .element-four {
        top: 35%;
        right: 30%;
    }
}
@media screen and (max-width:430px) {
    .element-four {
        top: 16%;
        right: 20%;
        padding: 5px 10px;
    }
}
/* end of header section */

/* user button */
.user-btn {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    padding: 10px 20px;
    border: 7px solid #f5f9ff;
    border-radius: 14px;
    padding: 10px 30px;
}
.user-button {
    display: flex;
    justify-content: center;
    margin-top: 12%;
}
.user-btn:hover {
    background: blue;
    color: #fff;
}
@media screen and (max-width:768px)  {
    .user-button {
        margin-top: 12%;
    }
}
@media screen and (max-width:430px)  {
    .user-btn {
        font-size: 1rem;
    }
    .user-button {
        margin-top: 10px;
    }
}
@media screen and (max-width:321px)  {
    .user-btn {
        font-size: 0.7rem;
    }
    .user-button {
        margin-top: 10px;
    }
}
/* end of user button */

.user-section {
    margin-top:5%;
    /* background: url(../images/Rectangle\ 31.png); */
    background: #f5f9ff;
    clip-path: polygon(0% 7%, 35% 0%, 73% 10%, 100% 0%, 100% 100%, 76% 93%, 48% 100%, 19% 90%, 0% 100%);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.user-background {
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
   
  }
  .user-information {
    padding: 5%;
  }
.user-information img {
    width: 100px;
}
@media screen and (max-width: 1024px) {
    .user-section{
        margin-top: 5%;
    }
    .user-information img {
        width: 50px;
    }
}
@media screen and (max-width: 768px) 
{
    .user-section {
        background: #f5f9ff;
    }
}
@media screen and (max-width: 425px) {
    .user-background {
        display: block;
    }
    .user-section {
        background: none;
    }
}

/* more section */
.more-section {
    margin-top: 30px;
    padding: 50px;
}
.more {
    padding: 80px;
    border: 5px solid #f5f9ff;
    border-radius: 20px;
    /* position: relative; */
}
.more-icon img {
    width: 300px;
}
.more-icon {
    display: flex;
    justify-content: center;
}
.more-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    border: 1px solid red;
    border-radius: 10px;
    padding: 11px 30px;
}
.group-img {
    display: flex;
    align-items: center;
    gap :10px;
}
.more-data a {
    text-decoration: none;
    color: red;
    border: 1px solid red;
    padding: 5px 15px;
    border-radius: 6px;
    font-size: 11px;
}
.more--data {
    border: 1px solid blue;
} 
.more-data .link {
    color: blue;
    border: 1px solid blue;
}

.general-img img {
    margin-top: -10px;
    margin-left: 20px;
    width: 80px;

}
.img-two img{
width: 120px;
}
.more-data a:hover {
    background: red;
    color: #fff;
   ;
}
.more-data .link:hover {
    background: blue;
    color: #fff;
    background: #f5f9ff;
}
@media screen and (max-width:1024px) {
    .general-img img  {
        left: 12%;
    }
}

@media screen and (max-width: 768px) {     
    .group-img img {
        width: 30px;
    }
    .group-img h3 {
        font-size: 0.7rem;
    }
    .person-img{
        width: 105px;
    }
    .general-img img {
        left: 16%;
        width: 81px;
        top: 60%;
    }
    
}
@media screen and (max-width : 430px) {
    .more-section {
        padding: 15px 10px;
        margin-top: 30px;
    }
    .more {
        border: none;
        padding: 0;
    }
    .more-icon img {
        width: 150px;
    }
    .more-data {
        padding: 5px;
    }
    .group-img img {
        width: 22px;
    }
    .group-img h3  {
        font-size: 8px;
    }
    .person-img{
        width: 85px;
    }
    .more-data a {
        font-size: 7px;
    }
    .general-img img {
        left: 9%;
        width: 54px;
        top: 68%;
    }
}
/* end of user section */
.review {
    margin-top: 40px;
}
.user-name img {
    width: 290px;
    margin-left: 150px;
}
 .review-paraone {
    width: 62%;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 24px;
}

.person-review a{
    border: 1px solid blue;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    color: blue;
    margin-right: 80px;
}
.pepsi-main-section {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.person-review{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.review-link{
    margin-top: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}

.person-review h3{
    font-size: 35px;
    margin-bottom: 30px;

}
.review-link a:hover {
    background: blue;
    color: #fff;
    transition: 0.5s;
}
@media screen  and (max-width:767px){
    .pepsi-main-section  {
        display: block;
    }
    .user-name img {
        width: 180px;
        margin-left: 15px;
    }
    .pepsi img {
        height: 300px;
        text-align:center ;
    }
    .person-review h3 {
        font-size: 25px;
    }
    .review-paraone {
        padding: 7px;
        font-size: 11px;
    }
    .review-link {
        display: block;
    }
   .review-link a {
    display: flex;
    justify-content: center;
    left: 10px;
    }
    .person-review a{
    margin-right: 0px;
    }
    .person-review {
        padding: 0 20px 0 20px;
    }
    .review-link {
        margin-top: 30px;
    }

  .review-link p  {
        text-align: center;
        margin-top: 10px;
        font-size: 12px;
    }
}

.like-dislike{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.like-dislike a {
    margin-top: 30px;
    text-decoration: none;
    border: 1px solid blue;
    background: blue;
    color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
}
.like-dislike a:hover{
    background: red;
    color: #fff;
    border: 1px solid red;
}
@media screen and (max-width:760px){
    .like-dislike img {
        width: 120px;
    }
    .like-dislike a {
        font-size: 0.5rem;
    }
}
/* end of review */
.brands {
    width: 100%;
    background: #f5f9ff;
    margin-top: 50px
}
.brands img {
 width: 600px;
 padding: 40px;
}
.brand-image {
    display: flex;
    justify-content: center;
}
@media screen and (max-width:767px) {
    .brands img {
        width: 90%;
    }
}
/* footer section */
.footer-section {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px solid #f5f9ff;
}
.footer-list li {
    margin-left: 30px;
}
.footer-list ul{
list-style: none;
display: flex;

}
.footer-list li a{
    text-decoration: none;
    color: black;
}
@media screen and (max-width:768px){
     .footer-image img {
        width: 100px;
     }
}
@media screen and (max-width: 430px) {
    .footer-list ul{
        display: block;
        }
        .footer-list li {
            margin-top: 20px;
        }
        .footer-list li a {
            font-size: 12px;
        }
}
/* end of footer section */
.copyright {
    margin-top: 30px;
    padding: 0 70px 10px 0px;
    float: right;
}
@media screen and (max-width:430px) {
    .copyright p {
        font-size: 12px;
    }
}